table{
    width:70%;
    background-color: chartreuse;
    text-align: centre;
}
table,th,td{
    border: 1px solid brown;
    border-collapse: collapse;
}
td{
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
th{ 
    font-size:22px;
}
tr:hover{
    background-color:bisque;
}
tr:nth-child(even){
    background-color:chocolate;
}
