body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.restaurant {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.restaurant img {
    max-width: 100%;
    height: auto;
}

.restaurant h2 {
    color: #333;
}

.restaurant p {
    color: #666;
}

.restaurant a {
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
