*{ 
    margin: 0;
    padding: 0;
}
.container{
    background: url(wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    text-align: center;
    color:deeppink;
    background-color: chartreuse;
}