.gridcontainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 80px;
    background-color: aquamarine;
    border: 1px solid brown;
}
.griditem{
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
    background-color: chartreuse;
}