*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior:auto;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#first{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#first::before{
    position: absolute;
    content: " ";
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-image:url(rest\ pic\ back.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter:brightness(50%);
}
#first_content{
    position: absolute;
}
#first_content h1{
    font-size:2.6rem;
    color:red;
    text-shadow: 2px 2px 2px orange;
}
#first_content h3{
    color:lawngreen;
}
#first_content a:hover{
    background-color:orange;
}
#first_content h2 {
    color:deeppink;
} 
#list{
    font-size:x-large;
}  

