body{
    margin: 40px;
}
.sidebar{
    grid-area: sidebar;
}
.sidebar2{
    grid-area: sidebar2;
}
.content{
    grid-area: content;
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: 
        "header header header"
        "sidebar content sidebar2"
        "footer footer footer";
}
.box{
    background-color:fuchsia;
    color:blue;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}