*{
    padding: 0;
    margin: 0;
}

.container{
    background: url(create1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{ 
    position: fixed;
    height: 80px;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(rgb(255, 94, 0), green, blue, alpha);
}
.navbar .logo{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    
}